.grid-container {
	padding-top: 100vh;
	padding-bottom: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 80vw;
	height: auto;
}

.grid-row-1 {
	display: flex;
	gap: 2vw;
	width: auto;
	height: 60vh;

	.grid-row-1-col-1 {
		width: 40vw;
		height: auto;
		border-radius: 25px;
		border: #a893f5 solid 2px;
	}
	.grid-row-1-col-2 {
		display: flex;
		flex-direction: column;
		gap: 3vh;
		.grid-row-1-col-2-1 {
			width: 30vw;
			height: 30vh;
			border-radius: 25px;
			border: #a893f5 solid 2px;
		}
		.grid-row-1-col-2-2 {
			width: 30vw;
			height: 30vh;
			border-radius: 25px;
			border: #a893f5 solid 2px;
		}
	}
}

.grid-row-2 {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	width: auto;
	height: 60vh;
	padding-top: 3vh;

	.grid-row-2-col-1 {
		display: flex;
		flex-direction: column;
		gap: 3vh;
		.grid-row-2-col-1-1 {
			height: 30vh;
			width: 30vw;
			border-radius: 25px;
			border: #a893f5 solid 2px;
		}
		.grid-row-2-col-1-2 {
			height: 30vh;
			width: 30vw;
			border-radius: 25px;
			border: #a893f5 solid 2px;
		}
	}

	.grid-row-2-col-2 {
		height: auto;
		width: 40vw;
		border-radius: 25px;
		border: #a893f5 solid 2px;
	}
}
