/* styles/ContactForm.module.scss */
.form {
	z-index: 2;
	label {
		display: block;
		margin-bottom: 0.5rem;
	}
	input,
	textarea {
		width: 100%;
		margin-bottom: 1rem;
	}
	button {
		background-color: #0070f3;
		color: white;
		padding: 0.75rem 1.5rem;
		border: none;
		cursor: pointer;
		&:hover {
			background-color: #005bb5;
		}
	}
}
