.projects-card-display {
	color: white;
}

.projects-display-container {
	max-width: 90%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 5vw;
}

.project-grid {
	height: 50vh;
	width: 35vw;
	border: white solid 3px;
	border-radius: 10px;
}

.projects-images {
	height: 40vh;
	width: 30vw;
	border-radius: 10px;
}

.project-title {
}

.project-description {
}

.project-tech-link-container {
	display: flex;
	flex-direction: row;
}

.tech-container {
	display: flex;
	flex-direction: row;
}

.project-nav {
}
