.projects-card-display {
	color: white;
	z-index: 1;
}

.projects-display-container {
	padding-top: 3vh;
	max-width: 90%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 2.5vw;
	padding-bottom: 15vh;
}

.project-grid {
	height: 60vh;
	width: 30vw;
	border: #a893f5 solid 2px;
	border-radius: 10px;
	background-color: #020419;
	opacity: 0;
}

.project-image-container {
	display: flex;
	justify-content: center;
	margin-top: 2vh;
	margin-bottom: 4vh;
}

.projects-images {
	height: 35vh;
	width: 28vw;
	border-radius: 10px;
}

.project-text-container {
	margin-left: 1vw;
}

.project-title {
	font-size: 2rem;
}

.project-description {
	color: #bbb;
	font-weight: bold;
}

.project-tech-link-container {
	padding-top: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3vw;
}

.tech-container {
	display: flex;
	flex-direction: row;
	gap: 1vw;
}

.image-icon {
	border: 2px solid #a893f5;
	border-radius: 50%;
	padding: 0.4rem;
	width: 3.25rem;
	height: 3.25rem;
	z-index: 1;
	transition: 0.3s;
	&:hover {
		transform: scale(1.2);
	}
}

.project-nav {
	color: #a893f5;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	gap: none;
	transition: 0.3s;
	&:hover {
		color: white;
		cursor: pointer;
		transform: scale(1.1);
	}
}

.location-arrow {
	font-size: 0.75rem;
}

@media (min-width: 1800px) {
}

@media (max-width: 1799px) and (min-width: 900px) {
	.project-title {
		font-size: 1.5rem;
	}
	.project-description {
		font-size: 0.75rem;
	}
	.image-icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	.tech-container {
		gap: 0.6rem;
	}
	.project-nav {
		font-size: 0.6rem;
		margin-right: 2vw;
	}
	.location-arrow {
		font-size: 0.6rem;
	}
}

@media (max-width: 899px) {
}
