.container {
	height: 12vw;
	overflow: hidden;
	text-align: center;
}
ul.v-slides {
	list-style-type: none;
	padding: 2vh;
	margin: 0;
}
.v-slide {
	font-size: 6vw;
	line-height: 6.75vw;
	color: #a29bfe;
	font-weight: 200;
}
