.experience-display {
	z-index: 1;
	display: flex;
	justify-content: center;
}

.work-ui-box {
	height: auto;
	width: 60vw;
	background-color: #020419;
	z-index: 2;
	opacity: 1;
	padding: 3rem 2rem;
}

.work-ui-container {
	display: flex;
	align-items: flex-start;
	color: white;
	padding: 3rem 0;
	position: relative;
}

.company-logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 2rem;
	position: relative;
}

.company-logo {
	width: 85px;
	height: 75px;
	border-radius: 5px;
	z-index: 1;
	background-color: white;
	transition: 0.3s;
}

.company-logo:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.work-info {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	opacity: 0.3;
	transition: opacity 0.3s ease;
}

.work-company-name {
	font-size: 2rem;
	color: #927bea;
	font-weight: bolder;
}

.company-position {
	font-size: 1.5rem;
	color: white;
	font-weight: bolder;
	margin-top: 0.5rem;
}

.company-start-end-date-container {
	font-size: 1.25rem;
	color: white;
	margin-top: 0.5rem;
}

.now-color {
	color: #927bea;
}

.job-description-gap {
	margin-top: 1.5rem;
}

.job-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.3rem;
	color: white;
	transition: color 0.3s ease;
}
