.main-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	min-height: 100vh;
	z-index: 1;
}

.about-me-header {
	font-size: 5rem;
	color: white;
	margin-top: 5vh;
}

.about-me-description {
	opacity: 1;
	padding-top: 5vh;
	font-size: 2.4rem;
	max-width: 85%;
	font-weight: light;
	line-height: 1.5;

	span {
		opacity: 0;
	}

	.purple-text {
		color: #927bea;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		&::after {
			content: "";
			position: absolute;
			height: 2px;
			left: 0;
			right: 0;
			bottom: -2px;
			background: #cd54eb;
			transition: transform 0.4s;
			transform: scaleX(0);
			transform-origin: bottom left;
		}
		&:hover::after,
		&:focus-within::after {
			transform: scaleX(1);
		}
	}
}

.projects-nav-about-section {
	z-index: 2;
	:hover {
		cursor: pointer;
	}
}

.about-me-page-grid-container {
	color: white;
	display: grid;
	grid-template-columns: 20vw 20vw;
	max-width: 80%;
}

.item {
	width: auto;
	height: auto;
	border: white 2px solid;
}
