.footer-container {
	display: flex;
	align-items: center;
	background-color: rgba(2, 4, 25, 255);
	border: white 5px solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
	width: 100%;
	z-index: 2;
}

.footer-content-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.copyright-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #a893f5;
	margin-left: 1.5vw;
}

//social icons

.social-icons-container {
	padding-top: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	color: #a893f5;
	gap: 1.5vw;
	margin-right: 1.5vw;
}

.linkedin-icon {
	width: 65px;
	height: 65px;
	transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
	border-radius: 50%;
}

.github-icon {
	width: 50px;
	height: 50px;
	transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
	border-radius: 50%;
}

.twitter-icon {
	width: 52px;
	height: 52px;
	transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
	border-radius: 50%;
}

.facebook-icon {
	width: 45px;
	height: 45px;
	transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
	border-radius: 50%;
}

.insta-icon {
	width: 45px;
	height: 45px;
	transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.linkedin-icon:hover,
.github-icon:hover,
.twitter-icon:hover,
.facebook-icon:hover,
.insta-icon:hover,
.linkedin-icon:focus,
.github-icon:focus,
.twitter-icon:focus,
.facebook-icon:focus,
.insta-icon:focus {
	color: #ffffff;
	transform: scale(1.1);
}
