.nav-container {
	padding-top: 3vh;
	display: flex;
	justify-content: space-around;
	gap: 30px;
	align-items: center;
	padding: 2rem 2rem;
	font-size: 0.9rem;
	height: 7vh;
	color: white;
	background-color: #0b0e21;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border: rgb(105, 105, 105) solid 1px;
}

.nav-hover:hover {
	color: grey;
	cursor: pointer; /* Change cursor to pointer on hover */
}
